// Colors Variables
$text_color: #ededed;
$text_color2: #a2a2a2;

$bg_color: #302f57;
$bg_color2: #27264d;

$brand_color: #3973b9;
$brand_color2: #265a98;

$body_color: #90cbe7;

// Fonts Variables
$main_font: "Poppins";
$cursive_font: "Kalam";
